    a:link {
        color : black ;
        background-color:transparent;
        text-decoration:none;     /* no underline */
    }
    a:visited {
        color : black ;
        background-color:transparent;
        text-decoration:none;     /* no underline */
    }
    a:hover {
        color : #000 ;
        background-color:transparent;
        text-decoration:none;     /* no underline */
    }
    a:active {
        color : black ;
        background-color:transparent;
        text-decoration:none;
    }
    #toggleState .expander.expanded {
            padding-left: 13px;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url(wallpapers/expanded.gif);
        }
    
    #toggleState .expander.collapsed {
            padding-left: 13px;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url(wallpapers/collapsed.gif);
        }        

    html, body {
        /* height: auto; */
        /* width : auto; */
        /* background-color: red; */
    }
    body{
        background-size:	cover;
        background-repeat:no-repeat;
        background-image:	url(wallpapers/SmartStrWall.jpg);
        background-position:bottom;
    }
    div.videoImage {
        background-image:url(wallpapers/Video.png);
        background-repeat: no-repeat;
        background-position: left center;
        margin:0; /* If you want no margin */
        padding:0; /*if your want to padding */
        text-indent: 15px;
    }
    .content {
        display:none;
        padding-left:20px;
    }
    
    .toggle.expander.expanded {
        padding-left: 13px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url(wallpapers/expanded.gif);
    }

    .toggle.expander.collapsed {
        padding-left: 13px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url(wallpapers/collapsed.gif);
    }        
   
    #wrap {
        width : auto;
        height : 100%;
        margin: 0 auto;
        max-width: 1280px;
        
        /* max-height : 820px; */
        /* padding : 3%; */
        /* background-color: grey; */
    }
    
    #header {
        width : auto;
        height : 20%;
        /* padding:auto; */
        margin-top: 125px;
        display: table-cell;
        vertical-align: middle;
    }
    #title {
        font-family : helvetica;
        font-size: 40px;
        /*padding: auto; !!! Not allowed*/
    }
    #body p {
        color : black;
        font-family: serif;
        text-indent : 20px;
    }
    #body {
        margin-top: 25px; /* Added for logo */
        width : auto;
        height : 75%;
    }
    #menu {
        width: 23%;
        height:86.8%; /* WHY inherit doesn't work?!?!?!?*/
        /* height: 100%; */
       
    }
    #list {
        width : 75%;
        height:inherit;
        /* height : 100%; */
        overflow-y: scroll;
        overflow-x: hidden;
        background-color:white;
        float: right;
        opacity:0.7;
        padding-left: 20px;
    }
    #footer{
        height:auto;
    }
